/* ===================================== Import other CSS ================================== */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Arimo:300,400,400italic,700,700italic);
@import url(form.css);
@import url(button.css);
@import url(logo.css);
@import url(card.css);
@import url(navbar.css);
/* ===================================== Basic CSS ==================================== */

body {
  font-family: "Open Sans";
  font-size: 14px;
  color: rgb(73, 73, 73);
  background-color: rgb(248, 248, 252);
}
.text-c1 {
  color: rgb(152, 76, 138);
}
img {
  max-width: 100%;
}
/* img {
  width: 100%;
  height: auto;
} */

.login-form-main {
  background: url(../images/login4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding: 40px 0px;
}
.checkout-form-main {
  background: url(../images/cake3.jpg);
  /* background-color: rgb(195, 165, 165); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding: 40px 0px;
}
.register-form-main {
  background: url(../images/register.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding: 40px 0px;
}
.home-form-main {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.cake_pic {
  height: 288px;
  position: relative;
  overflow: hidden;
  transition: 0.5s all ease-in-out;
}
.circle_tag {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 4px;
  background: #fff;
}
.purity_icn {
  position: absolute;
  left: 10px;
  top: 10px;
}

.cake_prc {
  position: absolute;
  /* left: 10px; */
  right: 10px;
  bottom: 10px;
  text-align: left;
  color: #fff;
  background: #ec268f;
  display: block;
  /* padding: 3px 12px 0 12px; */
  border-radius: 20px;
  min-height: auto;
}
.stock_row {
  display: inline-block;
  width: 100%;
}
