<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link href="../css/style.css" rel="stylesheet" />
    <title>About Us</title>
</head>

<body>
    <div class="row">
        <div class="col col-md-12">
            <nav class="navbar navbar-expand-lg navbar-custom navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">CakeShopee</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item ">
                                <a class="nav-link" href="home.html">Home</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="products.html">Our Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about-us.html">About Us</a>
                            </li>
                        </ul>
                    </div>

                    <a href="register.html">Sign-up</a> | <a href="login.html">Sign-in</a>
                    <i class="fas fa-heart fa-xl ms-5"></i>
                    <a href="checkout.html"> <i class="fas fa-shopping-cart fa-xl ms-2"></i></a>

                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12 text-center">
            <h2 class="fw-bold m-4">
                Our
                <label class="text-c1">Story</label>
            </h2>
        </div>
        <div class="col col-md-6">
            <img src="../images/about.jpg" />
        </div>
        <div class="col col-md-6 p-4">
            <p> Our journey began with one humble shop in Fort, Pune and grew to over
                one thousand locations throughout India under the inspiring vision of our
                founder,Kanchan Girish Pate in the early 2003. Since then, our family has
                combined their years of experience with the vision of a community of
                collaborative shop owners,suppliers and other partners working together to
                create a brand name in the market to grow their business to what it is today.
            </p>
            <p>
                In order to achieve this, the family offers franchises to budding entrepreneurs & distributors
                partnering
                with them to ensure success and excellence.
            </p>
            <hr>
            <h4>Contact US </h4>
            <p>Customer Service: 412800200 <br></p>
            <p>Email-us: patekanchan29@gmail.com <br></p>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12 text-center">
            <h2 class="fw-bold m-4">
                Our Mission, Values
                <label class="text-c1">and Vision</label>
            </h2>
        </div>
        <div class="col col-md-1 p-4"></div>
        <div class="col col-md-10 p-4">
            <p> Creating exceptional cakes is our way of life, and our customers and partners are the focus of
                everything that we do.
                Our unwavering commitment to both our customers, franchise partners & distributors is the key to our
                success in the
                future. We are dedicated to creating a dynamic environment, conducting ourselves with the highest
                integrity for every
                component in our value chain: our customers, suppliers, team members, and franchise partners. By acting
                in the best
                interest of everyone along our value chain, we are able to ensure our company’s sweet success.
            </p>

        </div>
    </div>
</body>

</html>