<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link href="../css/style.css" rel="stylesheet" />
    <title>Cake Shopee</title>
</head>

<body>
    <div class="row">
        <div class="col col-md-12">
            <nav class="navbar navbar-expand-lg navbar-custom navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">CakeShopee</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item ">
                                <a class="nav-link" href="home.html">Home</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="products.html">Our Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about-us.html">About Us</a>
                            </li>
                        </ul>
                    </div>
                    <a href="register.html">Sign-up</a> | <a href="login.html">Sign-in</a>
                    <i class="fas fa-heart fa-xl ms-5"></i>
                    <a href="checkout.html"> <i class="fas fa-shopping-cart fa-xl ms-2"></i></a>

                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
            <div class="home-form-main">
                <img src="../images/home.jpg" alt="Responsive image" style="width: 100%; height: auto" />
                <!-- <h2 class="text-center">
                  Bring A Box Of
                  <p class="text-danger">Happiness Today</p>
                  </h2> -->
            </div>
        </div>
    </div>
    <div class="container" style="background-color: #fbfafc">
        <div class="row">
            <div class="col col-md-6">
                <h2 class="fw-bold m-4">
                    Shop By
                    <label class="text-c1">Cake</label>
                </h2>
            </div>
            <div class="col col-md-6">
                <button type="button" class="btn btn-primary float-end mt-4 " onClick="location.href='products.html'">
                    Explore more >>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="row text-center mb-4">
                <div class="col col-md-3">
                    <img src="../images/cake1.jpg" class="rounded-circle" alt="..." />
                    <p class="fw-bold">Tall And Fancy</p>
                </div>
                <div class="col col-md-3">
                    <img src="../images/cake2.jpg" class="rounded-circle" alt="..." />
                    <p class="fw-bold">EXOTIC CAKES</p>
                </div>
                <div class="col col-md-3">
                    <img src="../images/cake3.jpg" class="rounded-circle" alt="..." />
                    <p class="fw-bold">PREMIUM CAKES</p>
                </div>
                <div class="col col-md-3">
                    <img src="../images/cake4.jpg" class="rounded-circle" alt="..." />
                    <p class="fw-bold">DESIGNER CAKES</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="background-color: #e2def5">
        <div class="row">
            <div class="col col-md-6">
                <h2 class="fw-bold m-4">
                    Shop By
                    <label class="text-c1">Pastry</label>
                </h2>
            </div>
            <div class="col col-md-6">
                <button type="button" class="btn btn-primary float-end mt-4 " onClick="location.href='products.html'">
                    Explore more >>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="row text-center mb-4">
                <div class="col col-md-3">
                    <img src="../images/pastry1.jpg" class="rounded-circle" alt="..." />
                    <p class="fw-bold">FRESH CREAM PASTRIES</p>
                </div>
                <div class="col col-md-3">
                    <img src="../images/pastry2.jpg" class="rounded-circle" alt="..." />
                    <p class="fw-bold">CHOCOLATE PASTRIES</p>
                </div>
                <div class="col col-md-3">
                    <img src="../images/pastry3.jpg" class="rounded-circle" alt="..." />
                    <p class="fw-bold">CUP PASTRIES</p>
                </div>
                <div class="col col-md-3">
                    <img src="../images/pastry4.jpg" class="rounded-circle" alt="..." />
                    <p class="fw-bold">SWISS MISS PASTRY</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="background-color: #fbfafc">
        <div class="row">
            <div class="col col-md-6">
                <h2 class="fw-bold m-4">
                    Shop By
                    <label class="text-c1">Savories</label>
                </h2>
            </div>
            <div class="col col-md-6">
                <button type="button" class="btn btn-primary float-end mt-4 " onClick="location.href='products.html'">
                    Explore more >>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="row text-center mb-4">
                <div class="col col-md-3">
                    <img src="../images/sav1.jpg" class="rounded-circle" alt="..." />
                    <p class="fw-bold">BURGERS</p>
                </div>
                <div class="col col-md-3">
                    <img src="../images/sav2.jpg" class="rounded-circle" alt="..." />
                    <p class="fw-bold">PIZZA</p>
                </div>
                <div class="col col-md-3">
                    <img src="../images/sav3.jpg" class="rounded-circle" alt="..." />
                    <p class="fw-bold">ROLLS</p>
                </div>
                <div class="col col-md-3">
                    <img src="../images/sav4.jpg" class="rounded-circle" alt="..." />
                    <p class="fw-bold">PATTIES & PUFFS</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="background-color: #e2def5">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-muted">© 2023 Company, Inc</p>
        </footer>
    </div>
</body>

</html>